<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /* Footer Section Styling */
        .footer-section {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
            margin-top: 50px;
            position: relative;
            bottom: 0;
            width: 100%;
            box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
        }

            .footer-section p {
                margin: 10px 0;
                font-size: 0.9em;
                line-height: 1.4;
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Details", "Details", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="--bs-gutter-x: 0rem;">
        @RenderBody()
    </div>
        <hr />
        <footer class="footer-section">
            <p>Investment in securities market are subject to market risks. Read all the related documents carefully before investing. Registration Not granted by SEBI, No way guarantees performance of the intermediary or provide any assurance of returns to investors.</p>
            <p>Copyright © 2011-2024 All Rights Reserved IT4B.in Pvt. Ltd</p>
        </footer>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
